Flask==0.8
Flask-Login==0.1.2
Flask-Mail==0.6.1
Flask-OAuth==0.11
Flask-Restless==0.5
Flask-SQLAlchemy==0.16
Flask-WTF==0.6
Jinja2==2.6
Mako==0.7.0
MarkupSafe==0.15
SQLAlchemy==0.7.6
Tempita==0.5.1
WTForms==1.0.1
Werkzeug==0.8.3
alembic==0.3.4
argparse==1.2.1
blinker==1.2
certifi==0.0.8
chardet==1.0.1
decorator==3.3.3
distribute==0.6.19
gunicorn==0.14.2
httplib2==0.7.4
lamson==1.1
lockfile==0.9.1
mock==0.8.0
nose==1.1.2
oauth2==1.5.211
oauthlib==0.1.2
psycopg2==2.4.5
py-bcrypt==0.2
pycrypto==2.5
python-daemon==1.6
python-dateutil==1.5
requests==0.12.0
simplejson==2.5.2
wsgiref==0.1.2
